[Unit]
Description="Raspberry Car Web Service"

[Service]
User=pi
WorkingDirectory=/home/pi/git/raspberry_car/src/py_modules/
ExecStart=/usr/bin/python3 web_service.py
Restart=always

[Install]
WantedBy=multi-user.target
