[Unit]
Description="Arduino FW Upload service"

[Service]
User=pi
WorkingDirectory=/home/pi/git/raspberry_car/src/py_modules/
ExecStart=/usr/bin/python3 web_installer.py
Restart=always

[Install]
WantedBy=multi-user.target
